<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Thanx Demo App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Use compiled CSS from app/assets/builds to avoid serving raw @import %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <div class="flex page-header">
      <div class="grow">
        <h1 class="text-white text-2xl font-bold"><%= link_to("Thanx Demo App", root_path) %></h1>
      </div>

      <div class="flex links">
        <% if user_signed_in? %>
          <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to("Log in", new_user_session_path) %>
        <% end %>
      </div>
    </div>

    <div class="p-8">
      <%= render "shared/flash" %>

      <%= yield %>
    </div>
  </body>
</html>
